.table-overflow{
	overflow: hidden;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    margin-left: auto;
    margin-right: auto;
    display: block;
 }
 .btn, .navbar .navbar-nav > li > a.btn {
    border: none;
    border-radius: 3px;
    position: relative;
    padding: 4px 8px;
    margin: 10px 1px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.add_form_button{
	border: none;
    border-radius: 3px;
    position: relative;
    padding: 12px 16px;
    margin: 10px 1px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.edit-reg-img{
    width: fit-content;
    max-width: 400px !important;
    height: 170px;
}
.remove_image {
    position: absolute;
    z-index: 1;
    top: -8px;
    right: 40px;
    font-size: 17px;
    line-height: 14px;
    background: #3C8DBC;
    color: #fff;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}
.remove_profile_image{
     position: absolute;
    z-index: 1;
    top: 0px;
    right: 340px;
    font-size: 17px;
    line-height: 14px;
    background: #3C8DBC;
    color: #fff;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}
.card img.loader_image_cover{
    width: auto;
    height: 40px;
    margin-top: -70px;
    margin-left: 121px;
    display: none;
}

