.selected
{
border-radius: 0px;
background: #3f0c5f;
height: 35px;
padding: 10px 24px;
color: #fff;
border: 1px solid #89A507;
width: 110px;
margin-top: 24px;
}

.selected:hover
{
border-radius: 0px;
background: #3f0c5f;
height: 35px;
padding: 10px 24px;
color: #fff;
border: 1px solid #89A507;
}

.unselected
{
border-radius: 0px;
height: 35px;
padding: 10px 24px;
color: #333;
background-color: #f3f4f6;
background-image: none;
border: 1px solid #cccccc;
width: 110px;
margin-top: 24px;
}

.skin-blue .main-header .logo {
    background-color: #FFFFFF;
}

.skin-blue .main-header .logo:hover {
    background-color: #FFFFFF;
}

.btn {
    border-radius: 0px;
}


/* Full number pagination */
.paging_full_numbers {
    float: right;
	height: 22px;
	line-height: 22px;
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
	position: relative;
  float: left;
  padding: 5px 10px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  font-size: 12px;
   cursor: pointer;
}

.paging_full_numbers a.paginate_button {
	background-color: #ffffff;
}

.paging_full_numbers a.paginate_button:hover {
	background-color: #eee;
	text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
	z-index: 2;
    color: #ffffff;
    cursor: default;
    background-color: #3f0c5f;
    
}

.paging_full_numbers .first
{
    border-radius: 0px 0px 0px 0px;
}

.paging_full_numbers .last
{
    border-radius: 0px 0px 0px 0px;
}

.dataTables_filter input[type="text"]
{
color: #555555;
vertical-align: middle;
background-color: #ffffff;
border: 1px solid #cccccc;
height: 30px;
padding: 5px 10px;
font-size: 12px;
line-height: 1.5;
border-radius: 3px;
}

.dataTables_length
{
    float: right;
}

.dataTables_filter select
{
    margin-left: 5px;
}


.dataTables_length select, .dataTables_filter select
{
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.margin-left-5{
  margin-left: 4px;   
}

.dataTables_scrollBody
{
 margin-bottom: 20px;
border-bottom: 1px solid #ccc;   
}

div.dataTables_filter {
    text-align: left;
}

div.dataTables_info {
   float: left; 
}

.import-table tr td, .import-table tr th
{
    font-size: 11px;
    line-height: 12px;
    padding: 3px!important;
}

.csv_table_holder{
    max-height: 650px;

}


.ticket_price_holder {
   padding-left: 5px;
   padding-right: 5px;
   margin-bottom: 0px!important;
}

.ticket_price_holder .label-control{
    font-size: 11px;
    margin-bottom: 1px;
}

.custom_table{
    font-size: 12px;
    table-layout:fixed;
}

.custom_table>tbody>tr>td, .custom_table>tbody>tr>th, .custom_table>tfoot>tr>td, .custom_table>tfoot>tr>th, .custom_table>thead>tr>td, .custom_table>thead>tr>th {
    padding: 4px;
    line-height: 13px;
    vertical-align: top;
}

.pac-container{
    z-index: 2000;
}

.ride_id_input{
    width: 50px;
}

#tab_3, #tab_2
{
    height: 350px;
  overflow: auto;
  width: 100%;
}


.import-table .alert-warning {
    color: #8a6d3b;
    background-color: rgba(255, 244, 108, 0.83);
    border-color: #FFE2B2;
}
.import-table .alert-danger {
    color: #a94442!important;
    background-color: #F7B2B2!important;
    border-color: #F7B2B2!important;
}
.import-table .alert-success {
    color: #3c763d!important;
    background-color: #BFFFA5!important;
    border-color: #d6e9c6!important;
}

.popover {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: 14px;
    max-width: 246px;
}

.popover-title {
    padding: 4px 10px;
    margin: 0;
    font-size: 12px;
}

.popover-content {
    padding: 4px 8px;
}

.fileinput-new{
    position: relative;
}

#remove_logo_large, #remove_logo{
       position: absolute;
    z-index: 1;
    top: -7px;
    right: -7px;
    font-size: 17px;
    line-height: 14px;
    background: #3f0c5f;
    color: #fff;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    padding-left: 2px;
}

.cost_input, .cost_input_2014, .cost_input_2015, .cost_input_2016{
    width: 120px;
    font-size: 11px;
    height: 23px;
}

.badge:empty {
    display: inline-block;
    width: 15px;
    height: 15px;
    
}
.add-employee.margin-left-5{
    background-color: #3f0c5f;
}